div.input {
    border-left: 5px solid #ffffff !important;
    background: #ffffff !important;
}

div.input_area {
    padding-right: 0em !important;
    margin-left: 12px !important;
    margin-right: 6px !important;
    /*margin: 8px !important;*/
    /*background: #ffffff !important;*/
    /*border: 5px solid #ffffff !important;*/
    border: 1px solid #ebebebeb;
    border-radius: 3px !important;
}

div.output_subarea {
    padding: 10px !important;
}

div.prompt,
.prompt {
    min-width: 0ex !important;
    width: 0ex !important;
    padding: 0ex !important;
}

div.prompt_container {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: right;
}

.prompt_container.style {
    visibility: hidden;
}

.compile-error {
    background: rgb(255, 150, 150) !important;
}

.compile-ok {
    background: rgb(225, 255, 225) !important;
    border-radius: 3px;
}

.compile-ok-border {
    border: 1px solid #cde9cc !important;
}

.compile-hole {
    background: rgb(255, 255, 225);
    /* !important; */
}


/*, div.CodeMirror-linenumber, .CodeMirror-gutter.CodeMirror-linenumberdiv.CodeMirror-gutter.CodeMirror-linenumber {
*/

.CodeMirror-linenumber {
    padding-right: 0px !important;
    margin-left: 10px !important;
    /* margin: 0; */
    width: 27px !important;
    padding: 0px !important;
    text-align: right;
}


/*
.CodeMirror-lines {
    padding-bottom: .9em;
    padding-left: 10px;
    padding-right: 1.5em;
    padding-top: .7em;
}
*/

div.CodeMirror-lines {
    padding-bottom: 0.5em !important;
    padding-left: 0 !important;
    padding-right: 0em !important;
    padding-top: 0.5em !important;
}

.CodeMirror-linenumbers {
    width: 41px !important;
}

.CodeMirror-gutters {
    width: 41px !important;
}

.CodeMirror-scroll {
    margin-right: -36px;
    margin-top: -10px;
}

code.language-agda {
    padding: 0px !important;
}


/* code in non-agda language is rendered with grey background */

div.text_cell_render code {
    background: #ededed;
    font-size: 10pt !important;
    border: none !important;
    margin: 0px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    border-radius: 5px;
}

div.text_cell_render {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12pt !important;
    padding: 0em 0.4em 0em 12px !important;
}

div .text_cell_render {
    padding: 0.4em 0.4em 0.4em 12px;
}

div.text_cell_render pre {
    border-left: 1px solid #cde9cc !important;
    color: #353535;
    background: #ededed;
    border: 1px solid #ededed;
    /* !important;*/
    border-radius: 3px;
    padding: 8px 0px 8px 12px;
    margin: 1px;
    max-width: 100%;
    font-family: monospace, monospace;
    font-size: 10pt !important;
    line-height: 150% !important;
}


/* code in agda language is rendered with green background */

.language-agda {
    background: #e1ffe0 !important;
    border: 1px solid #cde9cc !important;
    border-left: 1px solid #cde9cc !important;
}

pre.language-agda {
    background: #e1ffe0 !important;
    border: 1px solid #cde9cc !important;
    border-left: 1px solid #cde9cc !important;
}

pre {
    font-size: 10pt !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #dedede;
    /*padding: 12px !important;*/
    border: 0px solid #e7e7e7 !important;
}

.rendered_html pre {
    margin: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

div.cell {
    background: #ffffff !important;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*
.cm-s-ipython.CodeMirror {
    padding-right: 30px;
}*/

.CodeMirror {
    padding-top: 5px;
}

.CodeMirror pre {
    padding: 0em !important;
    padding-right: 15px !important;
    padding-left: 10px !important;
}


/* the following disables the selection highlighter on the left of the cells */

.edit_mode div.cell.selected:before,
div.cell.selected:before,
div.cell.selected.jupyter-soft-selected:before {
    width: 0px !important;
    border-left: 5px solid #B6B4D7 !important;
    border-radius: 3px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    /*top: -10px !important;*/
}

div.cell:before {
    width: 0px !important;
    border-left: 5px solid #ffffff !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    /*top: -10px !important;*/
}

.edit_mode div.cell.code_cell.selected .input,
div.cell.code_cell.selected .input,
div.cell.code_cell .input {
    border-left: 5px solid #ffffff !important;
    border-radius: 3px !important;
}


/*div.cell.selected:after,
div.cell.selected.jupyter-soft-selected:after {
    width: 0px;
    border-left: 6px solid #B6B4D7 !important;
}*/

.out_prompt_overlay.prompt {
    border: 0px none !important;
    border-radius: 0px !important;
    visibility: hidden;
}

div.output_wrapper {
    background-color: #ffffff;
    border: 0px;
    left: 0px;
    margin-bottom: 0em;
    margin-top: 0em;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 10px;
}

div.run_this_cell {
    visibility: visible;
    display: flex;
    cursor: pointer;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-left: 5px;
    width: 2ex;
    background: transparent;
    background-color: transparent;
}

.run_this_cell:hover {
    visibility: visible;
    background: #ffffff !important;
    color: #ff7823 !important;
}

div#pager .ui-resizable-handle {
    top: 0px !important;
    height: 0px !important;
    background: #f7f7f7 !important;
    top: 0px;
    height: 8px;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
}

.completions {
    border: 0px solid #ccc;
    background: #ededed;
    box-shadow: aquamarine;
    padding: 5px;
    /*border: 1px solid #ababab;*/
    border-radius: 2px;
    box-shadow: 10px 5px 15px 0px #adadad;
}

.cell-tag {
    color: #303030;
    background-color: #ededed !important;
    background-image: none;
    border: 1px transparent !important;
    border-radius: 3px;
    box-shadow: none;
    width: inherit;
    font-size: inherit;
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    padding: 0px 10px;
}

.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child,
.rendered_html h4:first-child,
.rendered_html h5:first-child,
.rendered_html h6:first-child {
    margin-top: 0em !important;
    margin-bottom: 0.8em !important;
}

div.rendered_html h1 {
    margin: 1em 0em 1em 0em !important;
}

div.rendered_html h2 {
    margin: 1em 0em 0.8em 0em !important;
}

div.rendered_html h3 {
    margin: 1em 0em 0.8em 0em !important;
}

.dropdown-menu>li>a {
    padding: 5px 18px 5px 10px !important;
    font-size: 11pt;
}

.navbar-default .navbar-nav>li>a {
    font-family: sans-serif;
    font-size: 11pt;
    color: #303030;
    display: block;
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

select.form-control.select-xs {
    height: 22px;
    font-size: 11pt;
}

div#maintoolbar {
    margin-left: 6px !important;
    position: inherit !important;
    width: 100;
    /* margin-left: -10%; */
    /* padding-right: 8%; */
    float: left;
    background: transparent !important;
}


/* it seems the toc2 hide button is not working */

.sidebar-wrapper .hide-btn {
    display: -webkit-inline-box !important;
}


/*
::-webkit-scrollbar {
    max-height: 3px;
}*/

#agda-pager {
    z-index: 90;
    position: fixed !important;
    display: none;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    border-style: none;
    border-width: thin;
    background-color: #dedede;
    top: 0;
    bottom: 0;
    width: 450px;
    min-width: 250px;
    margin-top: 75px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* margin-right: 10px;  */
}

.ui-button {
    width: 10px;
    height: 18px;
    padding-top: 0px !important;
    padding-left: 0px;
    padding-bottom: 5px !important;
    margin-left: 415px;
}

div.module-name {
    font-size: 9px !important;
    margin-top: -8px;
    margin-left: -40px;
    padding-left: 40px;
    width: 40px;
}